/* Assuming these are your styles for the three blocks */
.proc-content {
    cursor:default;
    display: block;
    padding: 10px;
    height: 100vh;
  overflow: scroll;
  font-family: Montserrat;
}

.proc-search-bar {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* Style the search bar input */
.procu-search-bar {
  width: 100%;
  padding: 10px;
  padding-left: 8%;
  border: 1px solid #0a080845;
  border-radius: 5px;
  outline: none;
}

.search-button:hover{
  background-color: #6f0cd2;
  color: #000;
}
.search-container {
  width: 40%;
  position: relative;
}

/* Styles for the search icon */
.search-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: #666; /* Adjust the color as needed */
  pointer-events: none; /* Prevent the icon from blocking interactions with the input */
}

.proc-today-orders {
    padding: 10px; /* Add padding to today's orders */
}
.proc-today{
    font-weight: bold;
}
.proc-prev-orders {
    padding: 10px; /* Add padding to previous orders */
}
.proc-today-orders tr{
    cursor: pointer;
}
.proc-order-requests-table {
  font-weight: 500;
    width: 100%;
  }
  .proc-order-requests-table tr{
    width: 100%;
    border-bottom: 3px solid #ffffff ;
  }
  
  .proc-order-requests-table th,
  .proc-order-requests-table td{
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;  /* Reduce border thickness for the right border */
    text-align: center;
    padding: 10px;
  }


  .proc-order-requests-table th {
    background-color: #f0f0f0;
  }
  .proc-order-requests-table tbody td{
    border-radius: 10px;
  }
  .proc-order-requests-table tbody tr:hover td{
    color: #ffffff;
    background-color: #0000003f;
    cursor: pointer;
    border-bottom: 5px solid #ffffff ;
    border-right: 2px solid #ffffff;
    border-radius: 10px;
  }
