/* Sidebar container */
.sidebar {
  font-family: Montserrat;
    background-color: #010929;
    color: #fff;
    height: 100vh;
    padding: 20px;
    font-weight: 700;
  }
  
  /* Sidebar header */
  .header {
    font-family: Orbitron;
    text-align: center;
    margin-bottom: 40px;
  }
  .header h2{
    margin-bottom: 0px;
  }
  .header p{
    font-size: 14px;
    color: rgba(95, 158, 160, 0.419);
  }
  .menu .btn-primary{
    margin-left: 20%;
    text-align: left;
    display: block;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    width: 100%;
  }
  
  /* Logout at the bottom */
  .logout {
    position: absolute;
    bottom: 20px;
    text-align: center;
  }
  
  /* Optional: Add a hover effect for menu items */
  .menu .btn-primary:hover {
    color: #000000;
    background-color: #ffffff;
  }
  